<h1> Stock info</h1>

<p>Symbol: {{stockData.Symbol}}</p>
<p>Name: {{stockData.Name}}</p>
<p>Description: {{stockData.Description}}</p>

<div class="chart">
<canvas id="myChart"></canvas>
</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script src="/js/stockGraph.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.8.0/dist/chart.min.js"></script>
    <script src="/js/script.js"></script>
