
<div class="container profile">

<h1>Hola {{dataUser.firstName}} {{dataUser.lastName}}</h1>

<img src="{{dataUser.profile_pic}}" class="imgcoverprofile" alt="userprofile" />

<div class=" my-5">   
    <h3>Tus acciones</h3>
<ul>
    <li>US stocks: 20%</li>
    <li>Foreign stocks : 20%</li>
    <li>Treasury bonds: 20%</li>
    <li>REITS: 20%</li>
    <li>Commodities: 20%</li>

</ul>

</div>
<div>

    <img src="https://www.lynalden.com/wp-content/uploads/asset-allocation-timing-model.png" alt="Stocks" />
</div>


<button class="btn btn-primary my-5"> 
<a href="/auth/logout">Cerrar Sesión</a> </button>

</div>