.body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black;
  color:white
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

#myChart{
  width:600px;
  height:600px;
  color:white
  }

  .chart{
    position: relative;
    width:75vw;
   
  }


  #myChart2{
    width:200px;
    height:200px;
    color:white
    }
  
    .chart2{
      position: relative;
      width:50vw;
     
    }



  .navbar{
  
    padding: 0px 50px 0px 50px; 
    
     
   }
   
   .navbar > a {
     color:  rgb(0, 255, 116);
     text-decoration: none;
     font-size:30px;
   display:flex;
   justify-content: space-evenly;

   
   }




  #signup{
    
    font-size: 15px;
    color:black;
  }

  
  #signup label{
  color:black;
    
  }




#signup ::placeholder {
  color: red;
  font-weight: bold;
}





  .signupPic{
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }

  .financialInfo{
    font-size: 22px;
  }

  .financialInfo h2{
    margin-top: 20px;
    margin-bottom:20px
  }

  .education p {
font-size: 30px;
margin:20px


  }

  .education a {
    font-size: 30px;
    margin-top:30px;
    text-decoration:none;
    
    
      }

  .imgcoverprofile{
    object-fit: contain;
    min-width: 300px;
    max-width: 310px;
    min-height: 300px;
    max-height: 310px;
    
    }


    .imgcover{
      object-fit: contain;
      min-width: 400px;
      max-width: 410px;
      min-height: 400px;
      max-height: 410px;
      
      }

    .closeSession > button> a{

      color:  white;
      text-decoration: none;
      font-size:30px;
    display:flex;
    justify-content: space-evenly;
 
    }

    .calculator{
      margin-top: 50px;
color:black;
display:flex;
justify-content: center;
    }

    .calculator input{
      width: 200px;
    }

    .formcenter{
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .calculatordescript{
      width: 400px;
      display: flex;
      flex-direction: column;
    align-items: center;
    
    }

   