
<div class="container my-5">
<h1>Calculadora de Ratio Precio/Beneficio (Price to Earnings ratio)</h1>

<form action="" method="post">
    <input type="text" name="price"/>
    <label>Price</label>

       <input type="text" name="earnings"/>
    <label>Earnings</label>
    <div class=" my-3">
     <p>PE RATIO:    </p>
     </div>


</form>

</div>