<div class="container my-5 education">
    <h1>Nuestras calculadoras financieras</h1>

<div class="container my-3">
    <h3>Análisis de beneficios</h3>
    <ul class="d-flex flex-column h3">
        <li>Ganancias antes de impuestos, intereses, depreciación y amortización: EBITDA</li>
        <li>Ganancias antes de impuestos, intereses: EBIT</li>
        <li>Flujo de caja libre: FCF</li>
        </ul>
</div>

<div class="container my-3 py-3">
    <h3>Análisis de rentabilidad</h3>
        <ul class="d-flex flex-column h3">
    <li> <a href="/education/calculatorsList/roce">Retorno al capital empleado: ROCE</a></li>
    <li> <a href="/education/calculatorsList/peratio">Ratio precio beneficio: PE Ratio</a></li>
    <li>Retorno al capital invertido: ROIC</li>
    <li>Retorno al patrimonio: ROE</li>
    <li>Retorno a los activos: ROA</li>
    </ul>
    </div>


<div class="container my-3  py-3">
<h3>Análisis del crecimiento</h3>
    <ul class="d-flex flex-column h3">
    <li>Ventas CAGR: Crecimiento compuesto anual de las ventas</li>
    <li>EBITDA CAGR: Crecimiento compuesto anual del EBITDA </li>
    <li>Utilidad Neta CAGR: Crecimiento compuesto anual de las utilidades </li>
    <li>Flujo de caja libre CAGR: Crecimiento compuesto anual del FCF</li>
    </ul>
    </div>


<div class="container my-3  py-3">
<h3>Análisis de la deuda</h3>
    <ul class="d-flex flex-column h3">
    <li>Cobertura de intereses: ICR</li>
    <li>Servicio de cobertura de deuda: DSCR</li>
    <li>Deuda total</li>
    <li>Deuda Neta</li>
    <li>Modelo puntaje Z: Z score</li>
   </ul>
   </div>
</div>