<div class="container my-5 education" >

  <h1> PE ratio</h1>

  <div class="my-5">

    <h2> Qué es el PE ratio?</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis,
      laboriosam.</p>

  </div>

  <div class="my-5">
    
    <h2>Cómo se calcula?</h2>

<img src="https://res.cloudinary.com/dad5dandd/image/upload/v1659332569/trii/peratio_ialvyf.png" alt="pe ratio">


    <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat officiis
    maxime a minima cumque ducimus praesentium voluptas mollitia qui sed facere,
    dolores blanditiis consectetur numquam dicta natus laudantium, assumenda
    nisi labore sint. Beatae, aperiam error pariatur quidem aspernatur sint eos
    eum! Atque tempora autem veritatis iusto consectetur? Eius, nam harum?</p>
    </div>



  <div class="my-5">
    
    <h2>Ejemplo real de su uso</h2>
    <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, voluptate
    quis mollitia repudiandae consequatur distinctio excepturi labore eaque
    asperiores facilis exercitationem neque, odio velit corrupti.</p>
    
    </div>


</div>