<div class="container my-5 education">
  <div class>
    <h1>Lista de contenido </h1>
    <ul class="d-flex flex-column">
      <il><a href="/education/articles/peratioPage">PE ratio</a></il>
      <il><a href="/education/articles/rocePage">ROCE</a></il>
    </ul>
    
    
    
  </div>
  <br/>
<div>
    <h1>Creación de contenido </h1>
    <a href="/education/formCreate">Crea un artículo</a>
</div>
<br/>
<div>
    <h1>Calculadoras financieras</h1>
    <a href="/education/calculatorsList">Calculadoras</a>
</div>
</div>