<div class="container my-5 education">
  <div>
    <h1>Lista de contenido </h1>
    <a href="/education/educationPage">PE ratio</a>
  </div>
<div>
    <h1>Creación de contenido </h1>
    <a href="/education/formCreate">Crea un artículo</a>
</div>
<div>
    <h1>Calculadoras financieras</h1>
    <a href="/education/calculatorsList">Calculadoras</a>
</div>
</div>